<ion-header>
  <ion-navbar>
    <ion-title>
     Camera App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <button (click)="takePicture()">Take a Picture</button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="base64Image">
   <ion-card-content>
        <img [src]="base64Image" />
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="base64Image">
   <ion-card-content>
        <button (click)="uploadPicture()">Upload It Now</button>
        <p *ngIf="uploadStatus">{{uploadStatus}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
